.word{background-image:url(https://st4.depositphotos.com/1052036/20279/v/1600/depositphotos_202792584-stock-illustration-king-mahabali-in-onam-background.jpg);
    height: 600px;
    width:auto px;


} 
.ash h1{
    font-family: 'sucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        font-size: 60px;
        font-color:White ;
    text-align: center;
    color: rgb(22, 22, 63)
}
.ash1 {

color: rgb(12, 4, 4);
}




    